extends _includes/_extends/main

block header

block content
     .container
        .row-ui
            .row
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-arrow')
                    .row-ui__name
                        span icon-arrow
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-callback')
                    .row-ui__name
                        span icon-callback
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-cash')
                    .row-ui__name
                        span icon-cash
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-chevron')
                    .row-ui__name
                        span icon-chevron
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-chevron-sm')
                    .row-ui__name
                        span icon-chevron-sm
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-close')
                    .row-ui__name
                        span icon-close
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-deal')
                    .row-ui__name
                        span icon-deal
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-email')
                    .row-ui__name
                        span icon-email
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-google')
                    .row-ui__name
                        span icon-google
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-hammer')
                    .row-ui__name
                        span icon-hammer
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-logo')
                    .row-ui__name
                        span icon-logo
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-logo-colored')
                    .row-ui__name
                        span icon-logo-colored
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-mastercard')
                    .row-ui__name
                        span icon-mastercard
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-more-variants')
                    .row-ui__name
                        span icon-more-variants
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-phone')
                    .row-ui__name
                        span icon-phone
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-popular-services')
                    .row-ui__name
                        span icon-popular-services
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-registration')
                    .row-ui__name
                        span icon-registration
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-sberbank')
                    .row-ui__name
                        span icon-sberbank
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-share')
                    .row-ui__name
                        span icon-share
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-star')
                    .row-ui__name
                        span icon-star
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-telegram')
                    .row-ui__name
                        span icon-telegram
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-user-list')
                    .row-ui__name
                        span icon-user-list
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-visa')
                    .row-ui__name
                        span icon-visa
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-vk')
                    .row-ui__name
                        span icon-vk
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-whatsapp')
                    .row-ui__name
                        span icon-whatsapp
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-yandex')
                    .row-ui__name
                        span icon-yandex
                .col.col-sm-6
                    .row-ui__icon
                        +svg('icon-yandex-money')
                    .row-ui__name
                        span icon-yandex-money